@page "/Album"
@using AuthorizationWebApp.Data.FileSystemService
@inject IFileSystemService FileSystemService

<h3>Album</h3>

<button @onclick="FileSystemService.SaveTestImage" class="btn btn-dark">Upload</button>
<table class="table">
    <thead>
    <tr>
        <th>Image name</th>
        <th>Activity</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var img in _images!)
    {
        <tr>
            <td><p>@img</p></td>
            <td><button class="btn btn-dark" @onclick="() => ShowImage(img)" >Show</button></td>
        </tr>
    }
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-4 mx-auto">
            <img width="450" height="450" src="/images/@_selectedImage" hidden="@_imgShowed" alt="Not founded">
        </div>
    </div>
</div>

@code {
    private string? _selectedImage;
    private List<string>? _images;
    private bool _imgShowed = true;

    protected override void OnInitialized()
    {
        FileSystemService.GetImagesToFolder();
        _images = FileSystemService.GetAllFiles();
    }

    private void ShowImage(string image)
    {
        _selectedImage = image;
        _imgShowed = false;
    }
}