@using AuthorizationWebApp.Data.LocalStorageService
@inherits LayoutComponentBase
@inject UserService UserService
@inject ILocalStorageService LocalStorageService

<PageTitle>AuthorizationWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            @if (UserService.CurrentUser is not null &&
                 UserService.CurrentUser.Login is not null)
            {
                <a href="Cabinet">@UserService.CurrentUser.Name</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        User user = await LocalStorageService.GetAsync<User>("Authorization");

        if (user is not null) 
        {
            UserService.CurrentUser = user;
        }
    }
}